.title {
    background-color: orange;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h2 {
    width: auto;
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

a {
    margin: 10px;
    width: auto;
}